body {
  font-family: "Lato", sans-serif;
}

.button-purple {
  background-color: #892789;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  transition: 0.3s ease-in-out;
}

.button-purple:hover {
  background-color: #b034b0;
}

.main-heading {
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.subtitle {
  margin: 25px 0px 10px 0px;
  font-size: 24px;
}

@media (min-width: 576px) {
  .main-heading {
    font-size: 80px;
  }
  .subtitle {
    font-size: 30px;
  }
}

h2 {
  margin: 0px;
  font-size: 40px;
}

h3 {
  margin-top: 0px;
  font-size: 28px;
  text-align: center;
}

.top-menu ul {
  display: flex;
}

.nav-menu a {
  color: #414e66;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #892789;
}

.dropdown-menu a:hover {
  background-color: #e6e6e6;
}

.hamburger-button {
  background-color: white;
  border: 1px solid black;
  color: red;
}

.intro {
  background-image: url("https://www.stagebio.com/hubfs/Homepage_Header_Cropped_1440x730.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: white;
  text-shadow: 1px 1px black;
}

.background-darken {
  position: relative;
}

.background-darken:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}

.intro-content {
  position: absolute;
}

.intro-buttons {
  margin-top: 35px;
}

.tips-by-topic {
  color: #414e66;
  padding: 20px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.topic-items a {
  margin: 5px 10px;
  text-decoration: none;
  color: #892789;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.topic-items a:hover {
  color: #b034b0;
}

.topic-items ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.tips-at-random {
  background-color: #414e66;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.random-tip-content {
  text-align: left;
}

.white {
  background-color: white;
  height: 2px;
}

.footer {
  height: 60px;
  background-color: #892789;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  color: white;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer-nav li {
  color: white;
  padding: 0px 4px;
  font-size: 12px;
  list-style: none;
}

.footer-nav li:hover {
  color: #a6a8ab;
}
